<div class="container card-flex m-auto">
    <div class="card" style="width: 39rem;">
        <div class="card-body">
          <h5 class="card-title text-primary">Devloper Of AngularJs</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab fugiat beatae provident iure, maiores porro mollitia a similique molestias voluptate tempora, rerum ex perspiciatis reiciendis dignissimos culpa vitae perferendis. Quibusdam.</p>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Primary</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 39rem;">
        <div class="card-body">
          <h5 class="card-title text-danger">Devloper Of AngularJs</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab fugiat beatae provident iure, maiores porro mollitia a similique molestias voluptate tempora, rerum ex perspiciatis reiciendis dignissimos culpa vitae perferendis. Quibusdam.</p>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-danger">Danger</button>
          </div>
        </div>
      </div>
</div>